<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MobileMoney</display-name>
  <context-param>
    <param-name>com.sun.faces.validateXml</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.verifyObjects</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.REFRESH_PERIOD</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <description>Suffixe par défaut de l'application (XHTML)</description>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.afb.dpd.mobilemoney.jsf.servlet.MobileMoneyContextLoaderListener</listener-class>
  </listener>
   <servlet>
       <servlet-name>MomoPushPullSOAP</servlet-name>
       <servlet-class>com.afb.dpd.mobilemoney.jsf.ws.MomoPushPullSOAP</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
       <servlet-name>MomoPushPullSOAP</servlet-name>
       <url-pattern>/pushpullservice</url-pattern>
   </servlet-mapping>
   <servlet>
       <servlet-name>MomoPushPullREST</servlet-name>
       <servlet-class>com.afb.dpd.mobilemoney.jsf.ws.MomoPushPullREST</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
       <servlet-name>MomoPushPullREST</servlet-name>
       <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>
  <servlet>
    <servlet-name>FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Skin RichFaces par defaut</description>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>blueSky</param-value>
  </context-param>
  <filter>
    <description>Filtre RichFaces pour les requêtes AJAX venant du Client</description>
    <display-name>RichFaces Filter</display-name>
    <filter-name>RichFacesFilter</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
    <init-param>
      <description>Paramètre permettant de créer un Fichier temporaire lors de l'Upload de Fichier avec un rich:fileUpload</description>
      <param-name>createTempFiles</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RichFacesFilter</filter-name>
    <servlet-name>FacesServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/views/jsp/error.jsp</location>
  </error-page>
  <filter>
    <description>Filtre sur d'initialisation des parametres de preferences Utilisateur</description>
    <display-name>UserInitializerFilter</display-name>
    <filter-name>UserInitializerFilter</filter-name>
    <filter-class>com.afb.dpd.mobilemoney.jsf.servlet.UserInitializerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserInitializerFilter</filter-name>
    <servlet-name>FacesServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description>Servlet de gestion des ressources</description>
    <display-name>WebResourceManager</display-name>
    <servlet-name>WebResourceManager</servlet-name>
    <servlet-class>com.afb.dpd.mobilemoney.jsf.servlet.WebResourceManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebResourceManager</servlet-name>
    <url-pattern>/PortalResources/*</url-pattern>
  </servlet-mapping>

</web-app>